---
import MainLayout from '../layouts/MainLayout.astro';

// Server Only
const name = 'Diego Alejandro Urrego Gamboa';
const title = 'Home Page';
---

<MainLayout title="Home Page">
  <h1>{name}</h1>
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time"></p>

  <script>
    // Client Only
    const currentTime = document.querySelector(
      '#current-time'
    ) as HTMLParagraphElement;

    const currentYear: number = new Date().getFullYear();

    currentTime.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
